  <div id="wrapper-shadow">
    <div id="wrapper-shadow-top">
      <div id="header">
        <%=link_to image_tag('logo.png', :id => 'logo'), root_path %>
        
        <ul id="navi-meta">
          <li><%=link_to 'Datenschutz', '#' %></li>
        </ul>
        
        <ul id="navi-main">
          <li><%=link_to 'home', root_path %></li>
          <li><%=link_to 'the protonet', protonet_path %></li>
          <li><%=link_to 'the box', box_path %></li>
          <li><%=link_to 'the team', team_path %></li>
          <li><%=link_to 'support', support_path %></li>
          <li><%=link_to 'buy', buy_path %></li>
        </ul>
      </div>

