<!-- wrapper-shadow begin -->
<div id="wrapper-shadow">
  
  <!-- shadow-top begin -->
  <div id="wrapper-shadow-top">

    <!-- wrapper-main begin -->
    <div id="wrapper-main">
      
      <!-- wrapper-header begin -->
      <div id="wrapper-header" class="clearfix">
        
        <!-- wrapper-logo begin -->
        <div id="wrapper-logo">
          <a href="index.php?id=1"><img src="fileadmin/template/images/logo-protonet.png" alt="Protonet" title="Protonet" /></a>
        </div>
        <!-- wrapper-logo end -->
        
        <!-- wrapper-navi-meta begin -->
        <div id="wrapper-navi-meta">
          
          <!-- navi-meta begin -->
          <ul id="navi-meta"><li><a href="index.php?id=16" title="Datenschutz" onfocus="blurLink(this);">Datenschutz</a></li></ul>
          <!-- navi-meta end -->
          
        </div>
        <!-- wrapper-navi-meta end -->      
        
        <!-- wrapper-navi-main begin -->
        <div id="wrapper-navi-main">
          
          <!-- navi-main begin -->
          <ul id="navi-main" class="clearfix">
            <li class="first"><a href="/" title="home" onfocus="blurLink(this);" class="active">home</a></li>
            <li><a href="<%= protonet_path %>" title="protonet" onfocus="blurLink(this);">the protonet</a></li>
            <li><a href="<%= box_path %>" title="the box" onfocus="blurLink(this);">the box</a></li>
            <li><a href="<%= team_path %>" title="the team" onfocus="blurLink(this);">the team</a></li>
            <li><a href="<%= support_path %>" title="support" onfocus="blurLink(this);">support</a></li>
            <li class="last"><a href="<%= buy_path %>" title="store" onfocus="blurLink(this);">buy</a></li>
          </ul>
          <!-- navi-main end -->
          
        </div>
        <!-- wrapper-navi-main end -->
        
      </div>
      <!-- wrapper-header end -->
      
      <!-- wrapper-content begin -->
      <div id="wrapper-content">
