<%= render :partial => "shared/header" %>

<script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/mootools.js"></script>
<script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/rgtabs.js"></script>
<link rel="stylesheet" href="fileadmin/template/plugins/rgtabs/main.css" type="text/css" media="screen">
<script type="text/javascript">
/*<![CDATA[*/
    <!--
    window.addEvent('domready', function() {
        var tabs101 = new SimpleTabs($('rgtabs101'), {
          entrySelector: 'li a',
        ajaxOptions: {
        method: 'get'
        }
        });
      });
</script>
<!-- wrapper-content begin -->
<div id="wrapper-content">
  <!--  CONTENT ELEMENT, uid:90/multicolumn [begin] -->
  <div id="c90" class="csc-default">
    <h1>
      Meet your new IT-Department
    </h1>
    <div class="multicolumnContainer multicolumnLayout2 clearfix" style="width: 100%;">
      <div style="width: 30%; margin: 0 25px 0 0" class="column column1 columnFirst listItemFirst">
        <div class="columnItems" style="padding: 0 6px 0 0">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemtext">
            <!--  CONTENT ELEMENT, uid:94/text [begin] -->
            <div id="c94" class="csc-default">
              <h2>
                Handmade
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                No decentia sui, dicto esse se pulchritudo, pupa Sive res indifferenter. Captivo pala pro de tandem Singulus labor, determino cui Ingurgito quo Ico pax ethologus praetorgredior internuntius. Ops foveo Huius dux respublica his animadverto dolus imperterritus. Pax necne per, ymo invetero voluptas, qui dux somniculosus lascivio vel res compendiose Oriens propitius, alo ita pax galactinus emo. Lace.
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:94/text [end] -->
          </div>
          <div class="columnItem columnItem2 columnItemLast listItemLast columnItemtext">
            <!--  CONTENT ELEMENT, uid:95/text [begin] -->
            <div id="c95" class="csc-default">
              <h2>
                Incredible Storage
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                no decentia sui, dicto esse se pulchritudo, pupa Sive res indifferenter. Captivo pala pro de tandem Singulus labor, determino cui Ingurgito quo Ico pax ethologus praetorgredior internuntius. Ops foveo Huius dux respublica his animadverto dolus imperterritus. Pax necne per, ymo invetero voluptas, qui dux somniculosus lascivio vel res compendiose Oriens propitius, alo ita pax galactinus emo. Lace.
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:95/text [end] -->
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: 0 25px 0 0" class="column column2">
        <div class="columnItems" style="padding: 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemtext">
            <!--  CONTENT ELEMENT, uid:96/text [begin] -->
            <div id="c96" class="csc-default">
              <h2>
                One Button
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                Onsentaneus ibi Subsanno ago quibus vos crustulum tam pala Infremo sem Crebra pro ius Perstruo. Vomer tractare proceritas reciproca obex per Hereditas tot Ver peto ait Emiror effluo incrementabiliter Manipulus basilicus cur repletus duo Industria ira via. Heu fas gelidus. Is ius Multi rex
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:96/text [end] -->
          </div>
          <div class="columnItem columnItem2 columnItemtext">
            <!--  CONTENT ELEMENT, uid:97/text [begin] -->
            <div id="c97" class="csc-default">
              <h2>
                Extendable
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                I vituperabilis Depascor stabilis an animus. His decipio eo hi certus, follis luo Triduum facio per Letalis pie Cruentus, venio ego tendo Percutio stips exter scilicet connubialis Anhelo Fastidio cogo commodum terra, Sollertia se edo me signum. Pullulo edo Lugo in lex Edoctus capio concedo ictus, ego sic magnificabiliter Retribuo an Laurus penitus, refero abeo os ile ferito nam De ora Personam St
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:97/text [end] -->
          </div>
          <div class="columnItem columnItem3 columnItemLast listItemLast columnItemtext">
            <!--  CONTENT ELEMENT, uid:98/text [begin] -->
            <div id="c98" class="csc-default">
              <h2>
                Instantly Connected
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                Onsentaneus ibi Subsanno ago quibus vos crustulum tam pala Infremo sem Crebra pro ius Perstruo. Vomer tractare proceritas reciproca obex per Hereditas tot Ver peto ait Emiror effluo incrementabiliter Manipulus basilicus cur repletus duo Industria ira via. Heu fas gelidus. Is ius Multi rex
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:98/text [end] -->
          </div>
        </div>
      </div>
      <div style="width: 30%; margin: 0 0 0 0" class="column column3 columnLast listItemLast">
        <div class="columnItems" style="padding: 0 0 0 6px">
          <div class="columnItem columnItem1 columnItemFirst listItemFirst columnItemtext">
            <!--  CONTENT ELEMENT, uid:99/text [begin] -->
            <div id="c99" class="csc-default">
              <h2>
                Raw Power
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                Trictus delinquentes sesquioctavus cras hoc silva Concedo, abeo repere nam Familia lignarius cado sesquimellesimus Se, volo tergo duco Dictator per Socus, Processus cum Avello hac opportunus. Cicuta ops extra Pluvia refectorium vita Orgia tener si Renuntio surgo quatenus/quatinus. Mei dum opportunitas, eu liber Serio do demens Monitio dono algor, incrementum indulgens. Rogo hos is interpolatio, t.
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:99/text [end] -->
          </div>
          <div class="columnItem columnItem2 columnItemLast listItemLast columnItemtext">
            <!--  CONTENT ELEMENT, uid:100/text [begin] -->
            <div id="c100" class="csc-default">
              <h2>
                Green Power
              </h2><!--  Text: [begin] -->
              <p class="bodytext">
                Persisto, incontinencia vis coloratus cogo in attonbitus quam repo immarcescibilis inceptum. Ego Vena series sudo ac Nitidus. Speculum, his opus in undo de editio Resideo impetus memor, inflo decertatio. His Manus dilabor do, eia lumen, sed Desisto.
              </p><!--  Text: [end] -->
            </div><!--  CONTENT ELEMENT, uid:100/text [end] -->
          </div>
        </div>
      </div>
    </div>
  </div><!--  CONTENT ELEMENT, uid:90/multicolumn [end] -->
  <!--  CONTENT ELEMENT, uid:101/list [begin] -->
  <div id="c101" class="csc-default">
    <h1>
      Choose your model
    </h1><!--  Plugin inserted: [begin] -->
    <!--

BEGIN: Content of extension "rgtabs", plugin "tx_rgtabs_pi1"

-->
    <div class="tx-rgtabs-pi1">
      <div id="rgtabs101">
        <ul>
          <li>
            <a href="<%= box_base_path %>">ENTRY</a>
          </li>
          <li>
            <a href="<%= box_power_path %>">POWER</a>
          </li>
          <li>
            <a href="<%= box_business_path %>">BUSINESS</a>
          </li>
        </ul>
      </div>
    </div><!-- END: Content of extension "rgtabs", plugin "tx_rgtabs_pi1" -->
    <!--  Plugin inserted: [end] -->
  </div><!--  CONTENT ELEMENT, uid:101/list [end] -->
  <!--  CONTENT ELEMENT, uid:102/image [begin] -->
  <div id="c102" class="csc-default">
    <h1>
      And buy it at our store
    </h1><!--  Image block: [begin] -->
    <div class="csc-textpic csc-textpic-left csc-textpic-above">
      <div class="csc-textpic-imagewrap csc-textpic-single-image">
        <a href="index.php?id=8"><img src="uploads/pics/protonet-buy_02.png" width="118" height="44" border="0" alt=""></a>
      </div>
    </div>
    <div class="csc-textpic-clear">
      <!-- -->
    </div><!--  Image block: [end] -->
  </div><!--  CONTENT ELEMENT, uid:102/image [end] -->
</div><!-- wrapper-content end -->

<%= render :partial => "shared/footer" %>
