<h1>Hi, I'm your new Datacenter!</h1>

<div class="order-top">
  <ul id="order-top-navi">
    <li class="order-top-navi-item order-top-navi-item-first" data-node="base">
      <h2>BASE</h2>
      <ul>
        <li><%= clean base_node[:ram] %> (max. <%= clean base_node[:max_ram] %>)</li>
        <li><%= clean base_node[:harddisk] %> (max. <%= base_node[:max_drives] %>)</li>
        <li><%= clean base_node[:usb] %></li>
        <li><%= clean((base_node[:video] + base_node[:sound]).first(3)) %></li>
      </ul>
      <p><%= clean base_node[:price_private] %></p>
    </li>
    <li class="order-top-navi-item" data-node="power">
      <h2>POWER</h2>
      <ul>
        <li><%= clean power_node[:ram] %> (max. <%= clean power_node[:max_ram] %>)</li>
        <li><%= clean power_node[:harddisk] %> (max. <%= power_node[:max_drives] %>)</li>
        <li><%= clean power_node[:usb] %></li>
        <li><%= clean((power_node[:video] + power_node[:sound]).first(3)) %></li>
      </ul>
      <p><%= clean power_node[:price_private] %></p>
    </li>
    <li class="order-top-navi-item" data-node="business">
      <h2>BUSINESS</h2>
      <ul>
        <li><%= clean business_node[:ram] %> (max. <%= business_node[:max_ram] %>)</li>
        <li><%= clean business_node[:harddisk]%> (max. <%= business_node[:max_drives] %>)</li>
        <li><%= clean business_node[:usb] %></li>
        <li><%= clean((business_node[:video] + business_node[:sound]).first(3)) %></li>
        <li><%= clean business_node[:support] %></li>
      </ul>
      <p><%= clean business_node[:price_private] %></p>
    </li>
  </ul>
  <img src="fileadmin/template/images/order-temp.png" alt="temp">
</div>

<div class="order-content">
  <div class="order-content-left">
    <%- {"base" => base_node, "power" => power_node, "business" => business_node}.each do |name, node| -%>
    <ul class="csc-bulletlist-2" id="details-list-<%= name %>" style="display:none;">
      <%- node.each do |k,v| -%>
        <li><%= v %></li>
      <%- end -%>
    </ul>
    <%- end -%>
  </div>
  
  <div class="order-content-right">
    <div class="order-content-right-buy">
      <a href="#"><img src="/assets/button-buy.png" alt="buy"></a>
    </div>
    
    <h2>Connect Anything</h2>
    <p>
      Lorem ipsum dolor sit amet lorem ipsum dolor sit. At vero eos et accusam et
      justo duo dolores et ea rebum. Stet clita kasd gubergren, takimata sanctus est
      ipsum dolor sit amet.
    </p>
  </div>
  
</div>

<h1>Your order</h1>

<table id="table-order">

  <tbody><tr>
    <td class="col1">
      <a href="#"><img src="/assets/button-minus.png" alt="minus"></a>    
      <div>1</div>
      <a href="#"><img src="/assets/button-plus.png" alt="plus"></a>    
      </td>
    <td class="col2"><img src="/assets/graybox.png" alt="bild"></td>
    <td class="col3">
      <span>Beschreibung</span>
      Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet
      lorem ipsum dolor sit. At vero eos et accusam et justo duo.
    </td>
    <td class="col4">499,-</td>
    <td class="col5">499,-</td>
  </tr>
  
  <tr>
    <td class="col1">
      <a href="#"><img src="/assets/button-minus.png" alt="minus"></a>    
      <div>2</div>
      <a href="#"><img src="/assets/button-plus.png" alt="plus"></a>    
      </td>
    <td class="col2"><img src="/assets/graybox.png" alt="bild"></td>
    <td class="col3">
      <span>Beschreibung</span>
      Stet clita kasd gubergren, takimata sanctus est. Lorem ipsum dolor sit amet
      lorem ipsum dolor sit. At vero eos et accusam et justo duo.
    </td>
    <td class="col4">19,-</td>
    <td class="col5">38,-</td>
  </tr>
  
  <tr class="final final_first">
    <td colspan="4"></td>
    <td class="col5">527,-</td>
  </tr>
  
  <tr class="final">
    <td colspan="3"></td>
    <td class="col4">Versandkosten</td>
    <td class="col5">5,-</td>
  </tr>
  
  <tr class="final final_last">
    <td colspan="3"></td>
    <td class="col4">Summe</td>
    <td class="col5">532,-</td>
  </tr>
  <tr>
    <td colspan="5" class="col5">
      <a href="#"><img src="/assets/button-checkout.png" alt="checkout"></a>
    </td>
  </tr>
  
</tbody></table>

