<%= render :partial => "shared/header" %>
<script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/mootools.js"></script><script type="text/javascript" src="typo3conf/ext/rgtabs/res/scripts/rgtabs.js"></script><link rel="stylesheet" href="fileadmin/template/plugins/rgtabs/main.css" type="text/css" media="screen" />

<script type="text/javascript">
  /*<![CDATA[*/
<!--
window.addEvent('domready', function() {
        var tabs25 = new SimpleTabs($('rgtabs25'), {
          entrySelector: 'li a',
          getContent: function(a,b,c,d) {
            debugger
          }
        });
      });
// -->
  /*]]>*/
</script>

        <!-- wrapper-content begin -->
        <div id="wrapper-content">
          
  <!--  CONTENT ELEMENT, uid:25/list [begin] -->
    <div id="c25" class="csc-default"><h1>Choose your model</h1>
    <!--  Plugin inserted: [begin] -->
      


  <!--

    BEGIN: Content of extension "rgtabs", plugin "tx_rgtabs_pi1"

  -->
  <div class="tx-rgtabs-pi1">
    <div id="rgtabs25">
      <ul>
        <li>
          <a href="<%= protonet_easy_path %>">EASY</a>
        </li>
        <li>
          <a href="<%= protonet_social_path %>?tab=2">SOCIAL</a>
        </li>
        <li>
          <a href="<%= protonet_sharing_path %>">SHARING</a>
        </li>
        <li>
          <a href="<%= protonet_anywhere_path %>">ANYWHERE</a>
        </li>
        <li>
          <a href="<%= protonet_more_path %>">MORE</a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- END: Content of extension "rgtabs", plugin "tx_rgtabs_pi1" -->

  
    <!--  Plugin inserted: [end] -->
      </div>
  <!--  CONTENT ELEMENT, uid:25/list [end] -->
    
    
    
    
            
        </div>
        <!-- wrapper-content end -->
<%= render :partial => "shared/footer" %>