<% content_for :head do -%>
  <script type="text/javascript" src="/assets/mootools.js"></script>
  <script type="text/javascript" src="/assets/rgtabs.js"></script>
  <link rel="stylesheet" href="/assets/tabs.css" type="text/css" media="screen" />

  <script type="text/javascript">
  <!--
    window.addEvent('domready', function() {
      var protonettabs = new SimpleTabs($('protonettabs'), {
        entrySelector: 'li a',
        getContent: function(a,b,c,d) { debugger }
      });
    });
  // -->
  </script>
<% end -%>

<div>
  <h1>Choose your model</h1>
  
  <ul id="protonettabs" style="margin: 0;">
    <li><%= link_to 'EASY', protonet_path('easy') %></li>
    <li><%= link_to 'SOCIAL', protonet_path('social') %></li>
    <li><%= link_to 'SHARING', protonet_path('sharing') %></li>
    <li><%= link_to 'ANYWHERE', protonet_path('anywher') %></li>
    <li><%= link_to 'MORE', protonet_path('more') %></li>
  </ul>
</div>

</div>
