<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  
  <title>protonet - <%= yield(:title) || "it's yours" %></title>
  
  <!--[if IE 6]>
    <link type="text/css" rel="stylesheet" href="/assets/ie6.css" />
    <script src="/assets/DD_belatedPNG_0.0.8a-min.js" type="text/javascript"></script>
    <script type="text/javascript">
      DD_belatedPNG.fix('.csc-bulletlist-2 li, #wrapper-shadow, #wrapper-shadow-top, #wrapper-logo a img, #wrapper-main, #navi-main, #navi-main li a, #navi-main li, .gfx, .arrow');
     </script>
  <![endif]-->

<%= yield :head %>
</head>
<body>
yyy
<%= render :partial => "shared/header" -%>

      <div id="content">
<%= yield %>
      </div>

<%= render :partial => "shared/footer" -%>

</body>
</html>
